body{
    background-color: rgb(25,25,25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-size: 40px;
    font-weight: bold;
    
}
.my-icon{
    height: 100px;
    width: 100px;
    background-color: black;
   padding: 20px;
   cursor: pointer;
   border: none;    
}
.result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.reset-button{
    background-color: rgb(240,240,240);
    color: black;
    padding: 20px;
    font-size: 15px;
    cursor: pointer;
}
